.App {
  text-align: center;
}

/* header */
.form {
  background-color: #eb5548;
  height: 70px;
}

.formFields {
  margin: auto;
  width: 50%;
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.city-name, .state-name {
  height: 40px;
  background-color: #eb5548;
  border: none;
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
  font-family: "Raleway";
  font-size: 16px;
  font-weight: bold;
  margin-top: 5px;
}

.state-name {
  width: 70px;
}

.city-name::placeholder, .state-name::placeholder {
  color: #ffffff;
  font-family: "Raleway";
  font-size: 16px;
  text-transform: uppercase;
}

.submitButton {
  height: 40px;
  width: 140px;
  margin-top: 13px;
  border: none;
  border-radius: 500px;
  color: #eb5548;
  background-color: #ffffff;
  font-family: "Raleway";
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 1s;
  transition: color 1s;
}

.submitButton:hover {
  background-color: #762b24;
  color: #ffffff;
}

/* menu */
.menu, .x {
  float: right;
  width: 35px;
  height: 35px;
  border: none;
  background-image: url("./menu.svg");
  background-repeat: no-repeat;
  background-size: 35px;
  background-color: transparent;
  margin-top: -53px;
  margin-right: 20px;
  cursor: pointer;
}

.x {
  background-image: url("./x-icon.svg");
}

.menu-block {
  float: right;
  width: 300px;
  height: 150px;
  background-color: #762b24;
}

.menu-text {
  font-family: "Raleway";
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  line-height: 50px;
}

.myFavoritesButton, .myDislikesButton, .signOutButton {
  display: block;
  height: 50px;
  cursor: pointer;
  text-decoration: none;
}

.myFavoritesButton:hover, .myDislikesButton:hover, .signOutButton:hover {
  background-color: #eb5548;
  text-decoration: none;
}

/* restaurant info block */
.restaurantInfo {
  margin: auto;
}

.restaurantTextInfo {
  color: #ffffff;
  width: 300px;
  height: 300px;
  border-radius: 20px 20px 20px 20px;
  background-color: rgba(0,0,0,0.7);
  padding-top: 70px;
}

.resultName {
  font-family: "Raleway";
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  width: 280px;
  margin: auto;
}

.resultCategory, .resultPrice, .resultLocation {
  margin-top: 10px;
  font-family: "Raleway";
  font-size: 18px;
  font-weight: bold;
  width: 280px;
  margin: auto;
}

.resultImage {
  width: 300px;
  height: 300px;
  margin: auto;
  margin-top: 20px;
  border-radius: 20px 20px 20px 20px;
}

/* messages */
.hungryMessage {
  width: 500px;
  font-family: "Raleway";
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  color: #d3d3d3;
  margin: auto;
  margin-top: 20px;
}

.regenerateMessage, .ratingMessage {
  font-family: "Georgia";
  font-size: 18px;
  font-style: italic;
  color: #eb5548;
  margin-top: 10px;
}

.regenerateMessage {
  margin-top: 20px;
}

/* like/dislike buttons */
.ratingButtons {
  display: flex;
  justify-content: space-between;
  width: 80px;
  height: 40px;
  margin: auto;
  margin-top: 10px;
}

.likeButton, .dislikeButton {
  width: 20px;
  cursor: pointer;
  transition: width .5s;
}

.likeButton:hover, .dislikeButton:hover {
  width: 25px;
}

.likeButton:active, .dislikeButton:active {
  width: 15px;
}

/* favorites page */
.restaurant-list-bg {
  width: 100%;
  height: fit-content;
  background-color: #eb5548;
  background-size: cover;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.rating-title {
  font-family: "Raleway";
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}

.restaurant-list {
  font-family: "Raleway";
  font-size: 24px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  margin-top: 30px;
}

.restaurant-name {
  width: 600px;
  margin: auto;
  margin-top: 15px;
  border-top: 1px solid #ffffff;
  padding-bottom: 5px;
  padding-top: 5px;
  cursor: pointer;
}