.App {
  text-align: center;
}

.form {
  background-color: #eb5548;
  height: 70px;
}

.formFields {
  margin: auto;
  width: 50%;
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.city-name, .state-name {
  height: 40px;
  background-color: #eb5548;
  border: none;
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
  font-family: "Raleway";
  font-size: 16px;
  font-weight: bold;
  margin-top: 5px;
}

.state-name {
  width: 70px;
}

.city-name::placeholder, .state-name::placeholder {
  color: #ffffff;
  font-family: "Raleway";
  font-size: 16px;
  text-transform: uppercase;
}

.submitButton {
  height: 40px;
  width: 140px;
  margin-top: 13px;
  border: none;
  border-radius: 500px;
  color: #eb5548;
  font-family: "Raleway";
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.myFavorites {
  margin-top: 25px;
  font-family: "Georgia";
  font-size: 14px;
  font-style: italic;
  color: #ffffff;
}

.restaurantInfo {
  position: relative;
  width: 300px;
  text-align: center;
  overflow: hidden;
  margin: auto;
}

.restaurantTextInfo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  width: 250px;
}

.resultName {
  font-family: "Raleway";
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
}

.resultCategory, .resultPrice, .resultLocation {
  margin-top: 5px;
  font-family: "Georgia";
  font-size: 18px;
  font-style: italic;
}

.resultImage {
  width: 300px;
  margin-top: 20px;
  border-radius: 20px 20px 20px 20px;
  filter: brightness(40%);
}

.hungryMessage {
  width: 500px;
  font-family: "Raleway";
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  color: #d3d3d3;
  margin: auto;
  margin-top: 20px;
}

.regenerateMessage, .ratingMessage {
  font-family: "Georgia";
  font-size: 18px;
  font-style: italic;
  color: #eb5548;
}

.ratingMessage {
  margin-top: 5px;
}

.ratingButtons {
  display: flex;
  justify-content: space-between;
  width: 60px;
  height: 40px;
  margin: auto;
}

.likeButton {
  width: 20px;
}

.dislikeButton {
  width: 20px;
}